<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Comprobar Imagenes y Firmas en PDF</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Subir un PDF</h1>
            <input type="file" id="pdfInput" />
            <button onclick="uploadPDF()">Subir y Procesar</button>
            <div id="result"></div>
        </div>
        <footer>
            <p>Idea de Ramiro Nario</p>
            <p>
                Desarrollado por
                <a href="https://cv-sergio-scardigno.vercel.app/"
                    >Sergio Scardigno</a
                >
            </p>
        </footer>
        <script src="/static/script.js"></script>
    </body>
</html>
